<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Nutty Meals</title>
  <meta name="description" content="NuttyMeals">
  <meta name="author" content="NuttyMeals">
  <link rel="shortcut icon" type="image/png" href="img/logo.png"/>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway:30|Hind+Madurai" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-sanitize.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.js"></script>
  <link rel="stylesheet" href="css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
  <script type="text/javascript" src="js/angular-simple-logger.js"></script>
  <script src="js/angular-google-maps.min.js"></script>
  <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
  <script src="js/scripts.js"></script>
</head>
<script>
  /*$('body').imagesLoaded( { background: true }, function() {
    $('.loader-container').fadeOut(1000);
  });*/
  $(window).on("load",function(){
    $('.loader-container').fadeOut(1000);
  });
</script>

<body ng-app="nuttymeals" ng-controller="mainCtrl" ng-init="initApp()">
  <div class="font_preload" style="opacity: 0">
    <span style="font-family: 'brandon', Arial, sans-serif;"></span>
    <span style="font-family: 'golden', Arial, sans-serif;"></span>
  </div>
  <div class="loader-container" id="loading">
    <div class="loader">
      <img src="img/loader.gif" width="200px"/>
    </div>
  </div>
  <div class="modal-container" ng-show="activeModal=='login'">
    <div class="modal">
      <div class="modal-header">
        <h3>
          <i class="fa fa-circle-o-notch rotateanim" aria-hidden="true" ng-show="loginLoading"></i>
          <i class="fa fa-sign-in" aria-hidden="true" ng-show="!loginLoading"></i>
         &nbsp LOGIN TO YOUR ACCOUNT</h3>
         <i class="fa fa-times pull-right" aria-hidden="true" ng-click="activeModal=''"></i>
      </div>
      <div class="modal-content">
        <div class="form-error" ng-show="loginError">
          <span>{{loginError}}</span>
        </div>
        <form class="loginForm" ng-submit="login()">
          <div class="input-container">
            <i class="fa fa-user" aria-hidden="true"></i>
            <input type="text" ng-model="username" required placeholder="Enter your Username" required />
          </div>
          <div class="input-container">
            <i class="fa fa-key" aria-hidden="true"></i>
            <input type="password" ng-model="password" required placeholder="Enter your Password" required />
          </div>
          <div class="input-container">
            <input type="submit" value="LOGIN" />
          </div>
          <small ng-click="activeModal='signup'">Don't have an account?  Signup</small>
          <br />
          <small>or</small>
        </form>
        <div class="app-download">
          <img src="img/play_store.png" />
        </div>
      </div>
    </div>
  </div>
  <div class="modal-container" ng-show="activeModal=='signup'">
    <div class="modal">
      <div class="modal-header">
        <h3>
          <i class="fa fa-circle-o-notch" aria-hidden="true" ng-show="signupLoading"></i>
          <i class="fa fa-user-plus" aria-hidden="true" ng-show="!signupLoading"></i>
         &nbsp CREATE AN ACCOUNT</h3>
         <i class="fa fa-times pull-right" aria-hidden="true" ng-click="activeModal=''"></i>
      </div>
      <div class="modal-content">
        <form class="loginForm" ng-submit="signup()">
          <div class="input-container">
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <input type="email" ng-model="email" required placeholder="Enter your Email" />
          </div>
          <div class="input-container">
            <i class="fa fa-user" aria-hidden="true"></i>
            <input type="text" required ng-model="username" placeholder="Enter your Username" />
          </div>
          <div class="input-container">
            <i class="fa fa-key" aria-hidden="true"></i>
            <input type="password" required ng-model="password" placeholder="Enter your Password" />
          </div>
          <div class="input-container">
            <i class="fa fa-phone" aria-hidden="true"></i>
            <input type="number" required ng-model="phone" placeholder="Enter your Phone No." />
          </div>
          <div class="input-container">
            <i class="fa fa-user" aria-hidden="true"></i>
            <input type="text" required ng-model="referral" placeholder="Enter Referral Code (Optional)" />
          </div>
          <div class="input-container">
            <input type="submit" value="SIGNUP" />
          </div>
          <small ng-click="activeModal='login'">Already have an account?  Login</small>
          <br />
          <small>or</small>
        </form>
        <div class="app-download">
          <img src="img/play_store.png" />
        </div>
      </div>
    </div>
  </div>


  <div class="modal-container" ng-show="activeModal=='my_orders_modal'">
    <div class="modal my_orders_modal">
      <div class="modal-header">
        <h3>
          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
         &nbsp My Orders</h3>
         <i class="fa fa-times pull-right" aria-hidden="true" ng-click="activeModal=''"></i>
      </div>
      <div class="modal-content">
        <div class="leftbar">
          <i class="fa fa-user-circle-o dp" aria-hidden="true"></i>
          <h2>
            {{currentUser.user.username}}
          </h2>
          <span>{{currentUser.user.email}}</span>
          <span>{{currentUser.phone}}</span>
        </div>
        <div class="main-order-container">
          <div class="order" ng-repeat="order in my_orders | filter : {'status' : 'Placed/Subscribed'}">
            <div class="order-content">
              <div class="order_details">
                <h3>{{order.plan.p_name}}</h3>
                <small>Qty : {{order.qty}}</small>
                <small>Placed on: {{order.created_at}}</small>
                <small>{{order.address}}</small>
              </div>
              <div class="order_status">
                {{order.status}}
              </div>
              <div class="order_amount">
                &#8377 {{order.amount}}
              </div>
            </div>
            <div class="order-footer">
              <span>Expires at : {{order.expires_at}}</span>
              <div class="boxinput-container" ng-click="cancel_for_tomo(order.o_id)" ng-show="!order.cancelled_for_tomo">
                <span>Cancel for Tomorrow</span>
              </div>
              <div class="boxinput-container disabled" ng-show="order.cancelled_for_tomo">
                <span>Cancelled for tomo</span>
              </div>
              <!--<div class="boxinput-container">
                <span>Cancel Order</span>
              </div>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-container" ng-show="plan_modal">
    <div class="modal plan-modal">
      <div>
        <i class="fa fa-times pull-right" aria-hidden="true" ng-click="plan_modal=0"></i>
      </div>
      <div class="modal-header">
        <img class="sm-hidden" src="img/{{current_plan[0].p_name}}.png" width="100"/>
        <h2>
         {{current_plan[0].p_name}}</br>
         <small>(<span ng-repeat="i in current_plan[0].meal_type track by $index" ng-if="isArray(current_plan[0].meal_type)">{{i}} {{$last ? '' : ', '}}</span><span ng-if="!isArray(current_plan[0].meal_type)">{{current_plan[0].meal_type}}</span>)</small>
       </h2>
       <div class="price pull-right">
         &#8377 {{current_plan[0].price}}
         <small>(inclusive of all taxes)</small>
       </div>
      </div>
      <div class="modal-content">
        <div class="leftbar">
          <p class="description" ng-bind-html="current_plan[0].info"></p>
          <span ng-show="current_plan[0].delivery_charge" class="sm-hidden">Delivery Charge : &#8377 {{current_plan[0].delivery_charge}}</span>
          <div class="place_order only-sm">
            <div class="input-container delivery" ng-show="current_plan[0].delivery_charge">
              <input type="checkbox" checked ng-model="delivery"/>
              <span>Delivery <br />(&#8377 {{current_plan[0].delivery_charge}})</span>
            </div>
            <div class="input-container qty" ng-init="qty=1">
              <span>Quantity :</span>
              <input type="number" max="5" ng-model="qty" min="1" disabled required placeholder="Enter Qty" />
              <i class="fa fa-plus-circle" ng-click="qty= qty==5?qty:qty+1" aria-hidden="true"></i>
              <i class="fa fa-minus-circle" ng-click="qty= qty==1?qty:qty-1" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <div class="rightbar">
          <div class="meal_type">
            <div class="input-container">
              <input type="radio" name="meal_type" value="Veg" ng-model="meal_type"/>
              <img src="img/veg.png" width="15"/>
              <span>Veg</span>
            </div>
            <div class="input-container">
              <input type="radio" name="meal_type" value="Non-Veg" ng-model="meal_type"/>
              <img src="img/non-veg.png" width="15"/>
              <span>Non-Veg</span>
            </div>
          </div>
          <div class="addon">
            <div class="addon_btn" ng-click="show_addon=1" ng-show="!show_addon">
              <i class="fa fa-plus-circle" aria-hidden="true"></i>
              <span>Add an Add-on (&#8377; 29)</span>
            </div>
            <div class="addon-item" ng-show="show_addon&& current_plan[0].meal_type.indexOf('Lunch')!=-1">
              <h4>Lunch (each for &#8377; 29)</h4>
              <div class="item-container">
                <div class="item">
                  <span>Add Chapati(4 nos.)</span>
                  <input type="number" max="5" ng-model="addon_lunch_chapati" min="1" disabled required placeholder="Enter Qty" />
                  <i class="fa fa-plus-circle" ng-click="addon_lunch_chapati= addon_lunch_chapati==5?addon_lunch_chapati:addon_lunch_chapati+1" aria-hidden="true"></i>
                  <i class="fa fa-minus-circle" ng-click="addon_lunch_chapati= addon_lunch_chapati==0?addon_lunch_chapati:addon_lunch_chapati-1" aria-hidden="true"></i>
                </div>
                <div class="item">
                  <span>Add Rice</span>
                  <input type="number" max="5" ng-model="addon_lunch_rice" min="1" disabled required placeholder="Enter Qty" />
                  <i class="fa fa-plus-circle" ng-click="addon_lunch_rice= addon_lunch_rice==5?addon_lunch_rice:addon_lunch_rice+1" aria-hidden="true"></i>
                  <i class="fa fa-minus-circle" ng-click="addon_lunch_rice= addon_lunch_rice==0?addon_lunch_rice:addon_lunch_rice-1" aria-hidden="true"></i>
                </div>
                <div class="item">
                  <span>Add Curry</span>
                  <input type="number" max="5" ng-model="addon_lunch_curry" min="1" disabled required placeholder="Enter Qty" />
                  <i class="fa fa-plus-circle" ng-click="addon_lunch_curry= addon_lunch_curry==5?addon_lunch_curry:addon_lunch_curry+1" aria-hidden="true"></i>
                  <i class="fa fa-minus-circle" ng-click="addon_lunch_curry= addon_lunch_curry==0?addon_lunch_curry:addon_lunch_curry-1" aria-hidden="true"></i>
                </div>
              </div>
            </div>
            <div class="addon-item" ng-show="show_addon && current_plan[0].meal_type.indexOf('Dinner')!=-1">
              <h4>Dinner (each for &#8377; 29)</h4>
              <div class="item-container">
                <div class="item">
                  <span>Add Chapati(4 nos.)</span>
                  <input type="number" max="5" ng-model="addon_dinner_chapati" min="1" disabled required placeholder="Enter Qty" />
                  <i class="fa fa-plus-circle" ng-click="addon_dinner_chapati= addon_dinner_chapati==5?addon_dinner_chapati:addon_dinner_chapati+1" aria-hidden="true"></i>
                  <i class="fa fa-minus-circle" ng-click="addon_dinner_chapati= addon_dinner_chapati==0?addon_dinner_chapati:addon_dinner_chapati-1" aria-hidden="true"></i>
                </div>
                <div class="item">
                  <span>Add Rice</span>
                  <input type="number" max="5" ng-model="addon_dinner_rice" min="1" disabled required placeholder="Enter Qty" />
                  <i class="fa fa-plus-circle" ng-click="addon_dinner_rice= addon_dinner_rice==5?addon_dinner_rice:addon_dinner_rice+1" aria-hidden="true"></i>
                  <i class="fa fa-minus-circle" ng-click="addon_dinner_rice= addon_dinner_rice==0?addon_dinner_rice:addon_dinner_rice-1" aria-hidden="true"></i>
                </div>
                <div class="item">
                  <span>Add Curry</span>
                  <input type="number" max="5" ng-model="addon_dinner_curry" min="1" disabled required placeholder="Enter Qty" />
                  <i class="fa fa-plus-circle" ng-click="addon_dinner_curry= addon_dinner_curry==5?addon_dinner_curry:addon_dinner_curry+1" aria-hidden="true"></i>
                  <i class="fa fa-minus-circle" ng-click="addon_dinner_curry= addon_dinner_curry==0?addon_dinner_curry:addon_dinner_curry-1" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="/img/menu.jpeg" target="_blank">
          <div class="boxinput-container pull-left sm-hidden" >
            <i class="fa fa-bars" aria-hidden="true"></i>
            <input type="button" value="View Menu" />
          </div>
        </a>
        <div class="place_order">
          <div class="input-container delivery sm-hidden" ng-show="current_plan[0].delivery_charge">
            <input type="checkbox" checked ng-model="delivery"/>
            <span>Delivery</span>
          </div>
          <div class="input-container qty sm-hidden" ng-init="qty=1">
            <span>Quantity :</span>
            <input type="number" max="5" ng-model="qty" min="1" disabled required placeholder="Enter Qty" />
            <i class="fa fa-plus-circle" ng-click="qty= qty==5?qty:qty+1" aria-hidden="true"></i>
            <i class="fa fa-minus-circle" ng-click="qty= qty==1?qty:qty-1" aria-hidden="true"></i>
          </div>
          <div class="boxinput-container beige-btn" >
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
            <input type="button" value="Login and Subscribe" ng-show="!loggedIn==1" ng-click="activeModal='login';plan_modal=0"/>
            <input type="button" value="Continue" ng-show="loggedIn==1" ng-click="place_order()" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-container" ng-show="activeModal=='place_order'">
    <div class="modal  order_modal">
      <div class="modal-header">
        <i class="fa fa-chevron-left pull-left back_btn" aria-hidden="true" ng-click="activeModal='';plan_modal=1;show_addon=0"></i>
        <h3>
          <i class="fa fa-sign-in" aria-hidden="true" ng-show="!loginLoading"></i>
         &nbsp Place Order</h3>
         <i class="fa fa-times pull-right" aria-hidden="true" ng-click="activeModal=''"></i>
      </div>
      <div class="modal-content">
        <br />
        <div class="order">
          <h4>
            <img src="img/{{current_plan[0].p_name}}.png" width="100"/>
           {{current_plan[0].p_name}}</br>
         </h4>
         <span class="qty">Quantity : {{qty}}</span>
         <span class="final_price">Price : &#8377 {{final_order_price}}</span>
        </div>
        <form id="addressForm">
          <div class="address">
            <div class="text-input-container">
              <div class="input-container">
                <span>Address Line 1 :</span>
                <input type="text" required placeholder="Enter your Address" ng-model="address1" />
              </div>
              <div class="input-container">
                <span>Address Line 2 :</span>
                <input type="text" required placeholder="Enter your Address" ng-model="address2" />
              </div>
              <div class="input-container">
                <span>Pin Code :</span>
                <input type="number" required placeholder="Enter your pincode" maxlength="6" ng-model="pincode" />
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <form action="{{hash_data.action}}"  name="payuform" id="payuform" method="post" ng-submit="payuform_submit($event)" style="display:none">
          <input type="hidden" name="key" value="{{hash_data.posted.key}}" />
          <input type="hidden" name="hash_string" value="{{hash_data.hash_string}}" />
          <input type="hidden" name="hash"  value="{{hash_data.hashh}}"/>
          <input type="hidden" name="txnid" value="{{hash_data.txnid}}"/>
          <input type="hidden" name="udf1" value="{{address1}}, {{address2}}, {{pincode}}"/>
          <input type="hidden" name="udf2" value="{{qty}}"/>
          <input type="hidden" name="udf3" value="{{delivery}}"/>
          <table >
            <tr>
            <td>Amount: </td>
            <td><input name="amount" ng-value="hash_data.posted.amount" /></td>
            <td>First Name: </td>
            <td><input name="firstname" id="firstname" value="{{hash_data.posted.firstname}}"  /></td>
            </tr>
            <tr>
            <td>Email: </td>
            <td><input name="email" id="email" value="{{hash_data.posted.email}}"  /></td>
            <td>Phone: </td>
            <td><input name="phone"  value="{{currentUser.phone}}"/></td>
            </tr>
            <tr>
            <td>Product Info: </td>
            <td colspan="3"><textarea name="productinfo">{{hash_data.posted.product_info}}</textarea></td>
            </tr>
            <tr>
            <td>Success URI: </td>
            <td colspan="3"><input name="surl"  size="64" value="{{api_domain}}/api/post/payment_success"  /></td>
            </tr>
            <tr>
            <td>Failure URI: </td>
            <td colspan="3"><input name="furl"  size="64" value="{{api_domain}}/api/post/payment_failure"/></td>
            </tr>
            <td>Current URI: </td>
            <td colspan="3"><input name="curl"  size="64" value="http://localhost:8081/"/></td>
            </tr>
            <tr>
            <td colspan="3"><input type="hidden" name="service_provider" value="" /></td>
            </tr>
          </table>
          <input type="submit" value="Submit"  />
        </form>
          <div class="boxinput-container beige-btn" >
            <i class="fa fa-check-circle" aria-hidden="true"></i>

            <input type="button" value="Login and Subscribe" ng-show="!loggedIn==1" ng-click="activeModal='login';plan_modal=0"/>
            <input type="submit" value="Pay and Subscribe" form="payuform" ng-show="loggedIn==1"/>
        </div>
      </div>
    </div>
  </div>
  <nav>
    <div class="content-wrapper navbar-content">
      <img class="icon" src="img/logo.png" />
      <div class="top-menu-container only-sm">
        <ul>
          <li class="account" ng-click="activeModal='login'" ng-show="loggedIn==0">
            <i class="fa fa-sign-in" aria-hidden="true"></i>
            Login
          </li>
          <li class="account" ng-click="userMenu=!userMenu" ng-show="loggedIn==1">
            <i class="fa fa-user" aria-hidden="true"></i>
            {{currentUser.user.username}}
            <div class="account-menu" ng-show="userMenu">
              <div class="menu">
                <div class="menu-item" ng-click="activeModal='my_orders_modal';get_my_orders()">
                  My Orders
                </div>
                <div class="menu-item" ng-click="logout()">
                  Logout
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="top-menu-container sm-hidden">
        <ul>
          <li id="about_btn" ng-click="scroll_to('about')">
            About
          </li>
          <li id="how_btn" ng-click="scroll_to('how')">
            How it Works
          </li>
          <li id="why_btn" ng-click="scroll_to('why')">
            Why Us
          </li>
          <li id="contact_btn" ng-click="scroll_to('contact')">
            Contact Us
          </li>
          <li class="account" ng-click="activeModal='login'" ng-show="loggedIn==0">
            <i class="fa fa-sign-in" aria-hidden="true"></i>
            Login
          </li>
          <li class="account" ng-click="userMenu=!userMenu" ng-show="loggedIn==1">
            <i class="fa fa-user" aria-hidden="true"></i>
            {{currentUser.user.username}}
            <div class="account-menu" ng-show="userMenu">
              <div class="menu">
                <div class="menu-item" ng-click="activeModal='my_orders_modal';get_my_orders()">
                  My Orders
                </div>
                <div class="menu-item" ng-click="logout()">
                  Logout
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

  </nav>
  <div class="section1">
    <div class="content">
      <div class="section1-content">
        <h1>Amazing Lip Smacking Food<br />Delivered at your Doorsteps</h1>
        <p>
          NuttyMeals delivers everything you need to bring more delicious meals and moments to the table. Every day.
        </p>
        <div class="boxinput-container menu" ng-click="scroll_to('plan')" id="plan_btn">
          <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
          <input type="button" value="Explore Plans" />
        </div>
      </div>
    </div>
  </div>
  <div class="section2" id="how">
    <div class="header">
      <span>How it Works</span>
    </div>
    <div class="content">
      <div class="container">
        <img src="img/how1.png" />
        <span>Visit Nutrimeals <br />App/Website</span>
      </div>
      <div class="container">
        <img src="img/how2.png" />
        <span>Choose a Dish/Plan</span>
      </div>
      <div class="container">
        <img src="img/how3.png" />
        <span>Chefs cook</span>
      </div>
      <div class="container">
        <img src="img/how4.png" />
        <span>We Deliver !</span>
      </div>
    </div>
  </div>
  <div class="section3" id="about">
    <div class="about-img">
      <h1 class="only-sm">About Us</h1>
      <img src="img/about.png" />
    </div>
    <div class="about-content">
      <h1 class="sm-hidden">About Us</h1>
      <p>
              In this fast paced life, it’s rare to get proper food which meets our calorific intake.
        We at NuttyMeals saw this as a challenge and overcame with an efficient and
        user friendly solution. We provide you with some of the best finger licking food
        guaranteed with utmost level of hygiene and quality spices. We are completely
        transparent with you and we can assure that our authenticity will drag you back
        to us time and again. Pocket friendly rates in exchange of a qualitative
        presentation is what we term ourselves as.<br /><span> Rest assured we will satisfy every taste bud of yours. !</span>
      </p>
    </div>
  </div>
  <div class="section4" id="plan">
    <div class="header">
      <span>Our Plans</span>
    </div>
    <div class="content">
      <div class="plans-container">
        <div class="plan" ng-click="select_plan(plan.id)" ng-repeat="plan in allPlans | filter:{'duration':duration}:true">
          <div class="planImg">
            <img src="img/{{plan.p_name}}.png" width="150" style="drop-shadow:10px 10px 10px #000"/>
          </div>
          <h4>&#8377 {{plan.price}} </h4>
          <span>{{plan.p_name}}<br /> <small>(<span ng-repeat="i in plan.meal_type track by $index" ng-if="isArray(plan.meal_type)">{{i}} {{$last ? '' : ', '}}</span><span ng-if="!isArray(plan.meal_type)">{{plan.meal_type}}</span>)</small></span>
        </div>
      </div>
      <div class="timings">
        <div class="time" ng-class="{'active':time=='monthly'}" ng-click="duration=30;time='monthly'">
          <span>Monthly</span>
        </div>
        <div class="time" ng-click="duration=14;time='2weeks'" ng-class="{'active':time=='2weeks'}">
          <span>2 Weeks</span>
        </div>
        <div class="time" ng-click="duration=1;time='1time'" ng-class="{'active':time=='1time'}">
          <span>One Time</span>
        </div>
      </div>
    </div>
  </div>
  <div class="section5" id="why">
    <div class="header">
      <h1>Why Us ?</h1>
    </div>
    <div class="content">
      <div class="text-content">
        <div class="why">
          <img src="img/why1.png" />
          <h4>Wide Variety : <span> Pinky Swear, the dishes won’t be repeated for two weeks. Say
            goodbye to monotonous food.</span></h4>
        </div>
        <div class="why">
          <img src="img/why2.png" />
          <h4>Quality Food :<span> We maintain the highest standards of hygiene and
            deliver the food in heat/warm compatible boxes.</span></h4>
        </div>
        <div class="why">
          <img src="img/why3.png" />
          <h4>Easy Cancellation and Ordering : <span>With the option of
            ordering/cancellation of food from both website and app we give you all the
            flexibility.</span></h4>
        </div>
      </div>
      <div class="image-content">
        <img src="img/whyus.jpg" />
      </div>
    </div>
  </div>
  <div class="section6" id="offer">
    <div class="content">
      <img src="img/offer.png" />
      <div class="offer">
        <span><h4>Get 30% OFF</h4> on all orders above 150</span>
        <small>*offer applicable upto Rs. 100 only for new users signed by referal</small>
      </div>
      <div class="boxinput-container">
        <input type="button" value="SIGN UP NOW" ng-click="activeModal='signup'"/>
      </div>
    </div>
  </div>
  <div class="section7" id="contact">
    <div class="header">
      SO HEALTHY.<BR />
      SO DELICIOUS.
    </div>
    <div class="content">
      <p>
        Each week, our chefs create new dishes <br />inspired by seasonal flavors that will tempt, delight, and energize.
      </p>
      <div class="boxinput-container">
        <input type="button" value="SEE TODAY'S MENU" />
      </div>
    </div>
  </div>
  <div class="section8" id="testimonials">
    <div class="content">
      <div class="card" ng-show="active_review==1">
        <div class="card-content">
          <i class="fa fa-chevron-left sm-hidden" aria-hidden="true" ng-click="active_review=3"></i>
          <p>
            " Nutty meals provided me with delicious food <br />with an awesome price tag, would love to order again. "
          </p>
          <i class="fa fa-chevron-right sm-hidden" aria-hidden="true" ng-click="active_review=2"></i>
        </div>
        <div class="card-footer">
          <span>Sidharth Kumar,</span> Student, RNSIT College
        </div>
      </div>
      <div class="card" ng-show="active_review==2">
        <div class="card-content">
          <i class="fa fa-chevron-left sm-hidden" aria-hidden="true" ng-click="active_review=1"></i>
          <p>
            " Loved the gajar ka halwa. Maa ki yaad aa Gayi "
          </p>
          <i class="fa fa-chevron-right sm-hidden" aria-hidden="true" ng-click="active_review=3"></i>
        </div>
        <div class="card-footer">
          <span>Shreyasvi Nataraj,</span> Student, R.V. College
        </div>
      </div>
      <div class="card" ng-show="active_review==3">
        <div class="card-content">
          <i class="fa fa-chevron-left sm-hidden" aria-hidden="true" ng-click="active_review=2"></i>
          <p>
            " Food satisfaction never got better, Nutty meals is amazing "
          </p>
          <i class="fa fa-chevron-right sm-hidden" aria-hidden="true" ng-click="active_review=1"></i>
        </div>
        <div class="card-footer">
          <span>Rishabh Deo,</span> Student, RNSIT College
        </div>
      </div>
      <div class="dots">
        <span class="dot active" ng-class="{'active':active_review==1}" ng-click="active_review=1"></span>
        <span class="dot" ng-class="{'active':active_review==2}" ng-click="active_review=2"></span>
        <span class="dot" ng-class="{'active':active_review==3}" ng-click="active_review=3"></span>
      </div>
    </div>
  </div>
  <footer>
    <div class="footer1">
      <span>Have any queries? contact us @ support@nuttymeals.com or call us on +91 85060 00091</span>
    </div>
    <div class="footer2">
      <div class="icon sm-hidden">
        <img src="img/logo.png" width="200px" height="65px"/>
      </div>
      <div class="buttons sm-hidden">
        <p>About Us</p>
        <p>How it Works?</p>
        <p>Why Us?</p>
        <p>FAQ's</p>
        <p>Contact Us</p>
      </div>
      <div class="map sm-hidden">
        <div class="map-container">
            <ui-gmap-google-map center='map.center' zoom='map.zoom'>
              <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id"
                              labelClass="something" labelAnchor="100 0" labelContent="LabhExim">
              </ui-gmap-marker>
            </ui-gmap-google-map>
          </div>
      </div>
      <div class="social">
        <a href="https://www.facebook.com/nuttymeals/">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
        <a href="https://www.instagram.com/nutrymeals">
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
        <i class="fa fa-play" aria-hidden="true"></i>
      </div>
    </div>
  </footer>
  <!--Start of Tawk.to Script-->
  <script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/5a227051d0795768aaf8cefe/default';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
  </script>
  <!--End of Tawk.to Script-->
</body>
</html>
